
.theme {
  margin: 20px auto;
  display: block;
  padding: 10px 18px;
  border-radius: 12px;
  border:#ff7a00;
  cursor: pointer;
  font-weight: 600;
  background: #6b7280;
  color: white;
  transition: 0.2s ease;
}

.theme:hover {
  transform: scale(1.05);
}
